<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../input/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K
3   53           Private  234721  ...               40   United-States  <=50K
4   28           Private  338409  ...               40            Cuba  <=50K

[5 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
data[data["sex"]=="Female"]["age"].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
ger = data["native-country"].value_counts()["Germany"]
tot = data["native-country"].count()
print((ger/tot)*100,"%")

0.42074874850281013 %

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [21]:
above_mean = data[data["salary"]==">50K"]["age"].mean()
above_std = data[data["salary"]==">50K"]["age"].std()
print("People who earn more than 50K, Mean age:",above_mean,"Standarad deviation:", above_std)
below_mean = data[data["salary"]=="<=50K"]["age"].mean()
below_std = data[data["salary"]=="<=50K"]["age"].std()
print("People who earn less than 50K, Mean age:",below_mean,"Standarad deviation:", below_std)

People who earn more than 50K, Mean age: 44.24984058155847 Standarad deviation: 10.51902771985177
People who earn less than 50K, Mean age: 36.78373786407767 Standarad deviation: 14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [23]:
data[data["salary"]==">50K"]["education"].unique() #therefore the answer is no

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [26]:
data.groupby(["race"])["age"].describe()

                      count       mean        std  ...    50%   75%   max
race                                               ...
Amer-Indian-Eskimo    311.0  37.173633  12.447130  ...   35.0  45.5  82.0
Asian-Pac-Islander   1039.0  37.746872  12.825133  ...   36.0  45.0  90.0
Black                3124.0  37.767926  12.759290  ...   36.0  46.0  90.0
Other                 271.0  33.457565  11.538865  ...   31.0  41.0  77.0
White               27816.0  38.769881  13.782306  ...   37.0  48.0  90.0

[5 rows x 8 columns]

In [27]:
data.groupby(["sex"])["age"].describe()

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [31]:
data.loc[(data['sex']=='Male') & (data['marital-status'].str.startswith('Married')), 'salary'].value_counts()

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [32]:
data.loc[(data['sex'] == 'Male') & (data['marital-status'].isin(['Never-married','Separated', 'Divorced','Widowed'])), 'salary'].value_counts()

<=50K    7552
>50K      697
Name: salary, dtype: int64

In [33]:
data[data['sex']=='Male']['marital-status'].value_counts()

Married-civ-spouse       13319
Never-married             5916
Divorced                  1771
Separated                  394
Married-spouse-absent      213
Widowed                    168
Married-AF-spouse            9
Name: marital-status, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [44]:
mx = data['hours-per-week'].max()
print(mx)
c = data['hours-per-week'].value_counts()[mx]
print(c)
c2 = data.loc[(data['salary']=='>50K'),'hours-per-week'].value_counts()[mx]
print((c2/85)*100)

99
85
29.411764705882355

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [48]:
data.groupby(['native-country','salary'])['hours-per-week'].describe()

                                     count       mean  ...     75%   max
native-country             salary                      ...
?                          <=50K     437.0  40.164760  ...   45.00  99.0
                           >50K      146.0  45.547945  ...   50.00  80.0
Cambodia                   <=50K      12.0  41.416667  ...   40.50  50.0
                           >50K        7.0  40.000000  ...   40.00  40.0
Canada                     <=50K      82.0  37.914634  ...   40.00  70.0
                           >50K       39.0  45.641026  ...   51.00  72.0
China                      <=50K      55.0  37.381818  ...   40.00  60.0
                           >50K       20.0  38.900000  ...   41.25  60.0
Columbia                   <=50K      57.0  38.684211  ...   40.00  60.0
                           >50K        2.0  50.000000  ...   50.00  50.0
Cuba                       <=50K      70.0  37.985714  ...   40.00  70.0
                           >50K       25.0  42.440000  ...   50.00  60.0
Dominican-Republic         <=50K      68.0  42.338235  ...   40.00  98.0
                           >50K        2.0  47.000000  ...   50.50  54.0
Ecuador                    <=50K      24.0  38.041667  ...   40.00  66.0
                           >50K        4.0  48.750000  ...   50.00  50.0
El-Salvador                <=50K      97.0  36.030928  ...   40.00  60.0
                           >50K        9.0  45.000000  ...   50.00  55.0
England                    <=50K      60.0  40.483333  ...   45.00  99.0
                           >50K       30.0  44.533333  ...   50.00  85.0
France                     <=50K      17.0  41.058824  ...   50.00  66.0
                           >50K       12.0  50.750000  ...   50.00  99.0
Germany                    <=50K      93.0  39.139785  ...   45.00  70.0
                           >50K       44.0  44.977273  ...   50.00  70.0
Greece                     <=50K      21.0  41.809524  ...   55.00  75.0
                           >50K        8.0  50.625000  ...   61.25  65.0
Guatemala                  <=50K      61.0  39.360656  ...   40.00  60.0
                           >50K        3.0  36.666667  ...   40.00  40.0
Haiti                      <=50K      40.0  36.325000  ...   40.00  75.0
                           >50K        4.0  42.750000  ...   44.00  56.0
...                                    ...        ...  ...     ...   ...
Mexico                     >50K       33.0  46.575758  ...   50.00  80.0
Nicaragua                  <=50K      32.0  36.093750  ...   40.00  60.0
                           >50K        2.0  37.500000  ...   38.75  40.0
Outlying-US(Guam-USVI-etc) <=50K      14.0  41.857143  ...   50.25  60.0
Peru                       <=50K      29.0  35.068966  ...   40.00  60.0
                           >50K        2.0  40.000000  ...   40.00  40.0
Philippines                <=50K     137.0  38.065693  ...   40.00  99.0
                           >50K       61.0  43.032787  ...   40.00  80.0
Poland                     <=50K      48.0  38.166667  ...   40.00  65.0
                           >50K       12.0  39.000000  ...   40.00  50.0
Portugal                   <=50K      33.0  41.939394  ...   40.00  84.0
                           >50K        4.0  41.500000  ...   42.50  50.0
Puerto-Rico                <=50K     102.0  38.470588  ...   40.00  80.0
                           >50K       12.0  39.416667  ...   42.50  50.0
Scotland                   <=50K       9.0  39.444444  ...   40.00  55.0
                           >50K        3.0  46.666667  ...   50.00  60.0
South                      <=50K      64.0  40.156250  ...   48.50  99.0
                           >50K       16.0  51.437500  ...   60.00  70.0
Taiwan                     <=50K      31.0  33.774194  ...   40.00  60.0
                           >50K       20.0  46.800000  ...   55.00  84.0
Thailand                   <=50K      15.0  42.866667  ...   52.50  80.0
                           >50K        3.0  58.333333  ...   62.50  75.0
Trinadad&Tobago            <=50K      17.0  37.058824  ...   40.00  60.0
                           >50K        2.0  40.000000  ...   40.00  40.0
United-States              <=50K   21999.0  38.799127  ...   40.00  99.0
                           >50K     7171.0  45.505369  ...   50.00  99.0
Vietnam                    <=50K      62.0  37.193548  ...   40.00  77.0
                           >50K        5.0  39.200000  ...   40.00  40.0
Yugoslavia                 <=50K      10.0  41.600000  ...   40.00  66.0
                           >50K        6.0  49.500000  ...   58.00  65.0

[82 rows x 8 columns]

In [54]:
pd.set_option('display.max_rows', 500)
data.groupby(['native-country','salary'])['hours-per-week'].mean()

native-country              salary
?                           <=50K     40.164760
                            >50K      45.547945
Cambodia                    <=50K     41.416667
                            >50K      40.000000
Canada                      <=50K     37.914634
                            >50K      45.641026
China                       <=50K     37.381818
                            >50K      38.900000
Columbia                    <=50K     38.684211
                            >50K      50.000000
Cuba                        <=50K     37.985714
                            >50K      42.440000
Dominican-Republic          <=50K     42.338235
                            >50K      47.000000
Ecuador                     <=50K     38.041667
                            >50K      48.750000
El-Salvador                 <=50K     36.030928
                            >50K      45.000000
England                     <=50K     40.483333
                            >50K      44.533333
France                      <=50K     41.058824
                            >50K      50.750000
Germany                     <=50K     39.139785
                            >50K      44.977273
Greece                      <=50K     41.809524
                            >50K      50.625000
Guatemala                   <=50K     39.360656
                            >50K      36.666667
Haiti                       <=50K     36.325000
                            >50K      42.750000
Holand-Netherlands          <=50K     40.000000
Honduras                    <=50K     34.333333
                            >50K      60.000000
Hong                        <=50K     39.142857
                            >50K      45.000000
Hungary                     <=50K     31.300000
                            >50K      50.000000
India                       <=50K     38.233333
                            >50K      46.475000
Iran                        <=50K     41.440000
                            >50K      47.500000
Ireland                     <=50K     40.947368
                            >50K      48.000000
Italy                       <=50K     39.625000
                            >50K      45.400000
Jamaica                     <=50K     38.239437
                            >50K      41.100000
Japan                       <=50K     41.000000
                            >50K      47.958333
Laos                        <=50K     40.375000
                            >50K      40.000000
Mexico                      <=50K     40.003279
                            >50K      46.575758
Nicaragua                   <=50K     36.093750
                            >50K      37.500000
Outlying-US(Guam-USVI-etc)  <=50K     41.857143
Peru                        <=50K     35.068966
                            >50K      40.000000
Philippines                 <=50K     38.065693
                            >50K      43.032787
Poland                      <=50K     38.166667
                            >50K      39.000000
Portugal                    <=50K     41.939394
                            >50K      41.500000
Puerto-Rico                 <=50K     38.470588
                            >50K      39.416667
Scotland                    <=50K     39.444444
                            >50K      46.666667
South                       <=50K     40.156250
                            >50K      51.437500
Taiwan                      <=50K     33.774194
                            >50K      46.800000
Thailand                    <=50K     42.866667
                            >50K      58.333333
Trinadad&Tobago             <=50K     37.058824
                            >50K      40.000000
United-States               <=50K     38.799127
                            >50K      45.505369
Vietnam                     <=50K     37.193548
                            >50K      39.200000
Yugoslavia                  <=50K     41.600000
                            >50K      49.500000
Name: hours-per-week, dtype: float64